{{ $exclude := index .Globbing "exclude" }}
{{ $include := index .Globbing "include" }}
{{ $root := .Root}}

{{ if $exclude }}
{{ range $ex := $exclude }}
- {{ $root }}{{ $ex }}
{{ end }}
{{ else if $include }}
{{ range $in := $include }}
+ {{ $root }}{{ $in }}
{{ end }}
- **
{{ end }}
