GPG_KEYS_ENC='{{ .Keys.Host.ID }},{{ .Keys.Master.ID }}'
GPG_OPTS='--pinentry-mode loopback'
GPG_PW='{{ .Keys.Host.Password }}'
GPG_KEY_SIGN='{{ .Keys.Host.ID }}'
TARGET='swift:///{{ .ContainerName }}'
SOURCE='{{ .Root }}'
FILENAME='.duplicity-ignore'
DUPL_PARAMS="$DUPL_PARAMS --exclude-if-present '$FILENAME'"
MAX_AGE={{ .MaxAge }}
MAX_FULL_BACKUPS= {{ .MaxFullBackups }}
MAX_FULLS_WITH_INCRS={{ .MaxFullBackupsWithIncr }}
MAX_FULLBKP_AGE={{ .MaxFullBackupAge }}
DUPL_PARAMS="$DUPL_PARAMS --full-if-older-than $MAX_FULLBKP_AGE"
VOLSIZE={{ .VolSize }}
DUPL_PARAMS="$DUPL_PARAMS --volsize $VOLSIZE --allow-source-mismatch"
ARCH_DIR={{ .ArchDir }}
